body{
    margin: 0;
}

main{
    background-color: #dfc4dc;
    padding-bottom: 50px;
}

.carousel{
    margin-bottom: 50px;
}

.title{
    color: white;
    margin-bottom: 50px;
    margin-left: 5%;
}
.cards{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    height: 40%;
}


.swiper-container {
    width: 100%;
    height: 500px;
    margin: 50px auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
    width: 100%;
}

gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 1;
}

.hrr{
    border-bottom: 100% ;
    height: 15px;
    color: white;
}

.footer{
    background-color: #c9aac6;
    color: white;
    padding-top: 30px;
}
.footerCenter{
    width: 80%;
    margin: auto;
}
.footer ol{
    list-style: none;
    display: inline-flex;
}

.footer ul{
    list-style: none;
    padding: 0px;
    margin-top: 10px;
}
.footer ul li{
    padding-bottom: 10px;
}
footer li a{
    text-decoration: none;
    color: white;
}
.footer h2{
    padding: 30px 0px;
    margin: 0px;
}


@media screen and (max-width:674px){
    .card{
        width: 45%;
        height: 30%;
    }
    .card-title{
        font-size: 15px;
    }
    .card-text{
        font-size: 12px;
    }
}

@media screen and (max-width:674px){
    .card{
        width: 70%;
        height: 10%;
        margin: auto;
    }

    .swiper-container {
        height: 600px;
    }
    
}

@media screen and (max-width:458px){
    footer li a{
        font-size: 15px;
    }
}



